/* AthkarPage.css */

.thikr-box {
  background-color:rgb(4, 23, 43);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  margin: auto;
  max-width: 500px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thikr-text {
  color: #f8cc6a;
  font-size: 1.1rem;
  white-space: pre-wrap;
  line-height: 2;
  margin-bottom: 16px;
}

.thikr-benefit {
  color: #f5c84c;
  font-size: 0.9rem;
  margin-bottom: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 8px;
}

.circle-count {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #f8cc6a;
  color: #021d34;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.next-button {
  background-color: #f8cc6a;
  color: #021d34;
  border: none;
  padding: 10px 24px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.next-button:hover {
  background-color: #ffd666;
}

.circle-progress {
  cursor: pointer;
  margin: 20px auto;
  width: 60px;
  height: 60px;
}

.progress-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.progress-circle {
  transition: stroke-dashoffset 0.4s ease;
}

.circle-bg {
  stroke: #2a2f58;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}
.task-card.completed {
  box-shadow: 0 0 10px 2px #4caf50;
  border: 2px solid #4caf50;
}

.task-card.in-progress {
  box-shadow: 0 0 12px 2px #f5c84c !important;
  border: 2px dashed #f5c84c !important;
  transition: all 0.3s ease-in-out;
}

