.settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .section {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .language-buttons button {
    margin: 0 10px;
  }
  
  .task-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
  
  .task-option {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  
  .task-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 6px;
  }
  
  .task-option span {
    font-size: 12px;
  }
  
  .task-option.selected {
    font-style:bold;
    background-color: transparent;
    border: 2px solid #f5c84c;
    opacity: 1;
  }
  
  .task-option.unselected {
    background-color: transparent;
    border: 1px solid #ccc;
    opacity: 0.4;
  }
  
  .divider {
    width: 100%;
    max-width: 600px;
    border: none;
    border-top: 1px solid #fff;
    margin: 30px 0;
  }
  
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
  max-width: 600px;
}

.button-group button {
  padding: 10px 16px;
  border: 2px solid #f5c84c;
  background-color: transparent;
  color: #f5c84c;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.button-group button:hover {
  background-color: #f5c84c;
  color: #000;
  transform: scale(1.03);
}

.button-group button.selected {
  background-color: #f5c84c;
  color: #000;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .button-group button {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}
  .category-select {
  margin: 20px 0;
}

.category-select select {
  padding: 10px 14px;
  border: 2px solid #f5c84c;
  background-color: #0b1f36;
  color: #f5c84c;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  max-width: 300px;
  width: 100%;
}

.category-select select:focus {
  border-color: #fbbf24;
}
.logout-button{
  background-color: rgb(228, 72, 72);
  color : white
  
}.logout-button:hover{
  background-color: rgb(228, 72, 72);
  color : white
  
}